<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib">

<script language="javascript">
	//<![CDATA[ 
    //]]> 
</script>

<html>
    <head>
        <title>CDDH Specialty Code</title>
    </head>
	<body>
		<table width="100%" height="100%">
			<tr>
				<td valign="top" align="left">
			        <h:form id="senderform">
						<h:panelGrid columns="1">
							<h:panelGroup>
								<h:outputText value="Login User: " style="font-weight:bold" />
								<h:outputText value="#{cddhSpecialtyMapping.userName}" />
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText value="&#160;"/>
							</h:panelGroup>
			        	</h:panelGrid>

						<h:panelGrid columns="1">
							<h:panelGroup>
								<h:panelGrid columns="2">
									<h:panelGroup>
										<h:outputText value="Hospital Code"/>
									</h:panelGroup>
									<h:panelGroup>
										<h:inputText id="hospCode" value="#{cddhSpecialtyMapping.hospCode}" maxlength="3" size="4"
													 style="text-transform: uppercase;" onchange="this.value=this.value.toUpperCase();"
													 disabled="#{ ! cddhSpecialtyMapping.newRecord || cddhSpecialtyMapping.saveComplete}" />
									</h:panelGroup>
					
									<h:panelGroup>
										<h:outputText value="Specialty Code"/>
									</h:panelGroup>
									<h:panelGroup>
										<h:inputText id="specCode" value="#{cddhSpecialtyMapping.specCode}" maxlength="4" size="4"
													 style="text-transform: uppercase;" onchange="this.value=this.value.toUpperCase();"
													 disabled="#{ ! cddhSpecialtyMapping.newRecord || cddhSpecialtyMapping.saveComplete}" />
									</h:panelGroup>

									<h:panelGroup>
										<h:outputText value="CDDH Specialty Code"/>
									</h:panelGroup>
									<h:panelGroup>
										<h:inputText id="cddhSpecCode" value="#{cddhSpecialtyMapping.cddhSpecCode}" maxlength="4" size="4" 
													 style="text-transform: uppercase;" onchange="this.value=this.value.toUpperCase();"
													 disabled="#{cddhSpecialtyMapping.saveComplete}" />
									</h:panelGroup>
					        	</h:panelGrid>

								<h:panelGrid columns="1">
									<h:panelGroup>
										<h:commandButton value="Retrieve" action="#{cddhSpecialtyMapping.retrieveCddhSpecialtyMapping}"
														 disabled="#{ ! cddhSpecialtyMapping.newRecord || cddhSpecialtyMapping.saveComplete}"/>
										<h:commandButton value="Save" action="#{cddhSpecialtyMapping.updateCddhSpecialtyMapping}"
													 	 disabled="#{cddhSpecialtyMapping.saveComplete}" />
										<h:commandButton value="Clear" action="#{cddhSpecialtyMapping.clearScreen}"/>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText value="&#160;"/>
									</h:panelGroup>
					        	</h:panelGrid>
					        	
								<h:panelGrid columns="1" rendered="#{cddhSpecialtyMapping.isSuccess}">
									<h:panelGroup>
										<b>Information: </b><br/>
										<pre>#{cddhSpecialtyMapping.successMessage}</pre>
									</h:panelGroup>
					        	</h:panelGrid>
					
					        	<h:panelGrid columns="1">
									<h:panelGroup rendered="#{cddhSpecialtyMapping.hasError}">
										<b>Warning: </b><br/>
										<pre>#{cddhSpecialtyMapping.errorMessage}</pre>
									</h:panelGroup>
								</h:panelGrid>					        	
							</h:panelGroup>
			        	</h:panelGrid>
			        </h:form>
				</td>
			</tr>
		</table>
    </body>
</html>

</ui:composition>