<e:workbook xmlns="http://www.w3.org/1999/xhtml"
  			xmlns:ui="http://java.sun.com/jsf/facelets"
  			xmlns:e="http://jboss.com/products/seam/excel"
  			xmlns:f="http://java.sun.com/jsf/core" 
  			type="jxl" exportKey="fmDataReport">
	<e:worksheet name="v_fm_report_data_view" value="#{fmReportList}" var="fmReportInfo">
		<e:column>
			<f:facet name="header">
            	<e:cell value="Patient hospital code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.patHospCode}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Month"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.year}#{fmReportInfo.month}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="EIS specialty code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.eisSpecCode}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="OPAS/IPAS specialty code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.pasSpecCode}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="OPAS subspecialty code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.pasSubSpecCode}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="PHS specialty code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.specCode}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Patient key"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.patKey}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Case number"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.caseNum}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Order date"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.orderDate}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Order number"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.orderNum}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Order reference number"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.refNum}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Order Status"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.orderStatus}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Action status description"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.actionStatus.displayValue}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Order descctiption"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.orderDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Display name"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.displayName}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Form description"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.formDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Route description"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.routeDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Salt / special property"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.saltProperty}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Strength"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.strength}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Item code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.itemCode}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="HA can sold"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.haSold}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Fomulary status description"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.fmStatusDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="SFI category"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.sfiCateogry}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="BNF number (Principle BNF)"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.bnfNum}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="BNF description (Principle BNF)"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.bnfDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Private patient"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.privatePat}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Pay code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.payCode}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="FM prescribe option"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.prescOptionDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Corpordate indication code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.coInd}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Corporate indication description"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.coIndDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Supplementary indication code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.suInd}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Supplementary indication description"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.suIndDesc}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Other indication description"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.otherMessage}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Prescribing doctor code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.doctorCode}"/>			
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Authorized doctor name and code"/>
            </f:facet>
			<e:cell value="#{fmReportInfo.authCode}"/>			
		</e:column>
	</e:worksheet>
</e:workbook>