<e:workbook xmlns="http://www.w3.org/1999/xhtml"
  			xmlns:ui="http://java.sun.com/jsf/facelets"
  			xmlns:e="http://jboss.com/products/seam/excel"
  			xmlns:f="http://java.sun.com/jsf/core"
  			type="jxl" exportKey="fmYearlyStatReport">
	<e:worksheet name="sheet1" value="#{fmRptStatList}" var="fmRptStat">
		<e:column>
			<f:facet name="header">
            	<e:cell value="Year"/>
            </f:facet>
            <e:cell value="#{fmRptStat.displayFiscalYear}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Cluster"/>
            </f:facet>
			<e:cell value="#{fmRptStat.clusterCode}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="Hospital code"/>
            </f:facet>
			<e:cell value="#{fmRptStat.patHospCode}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of patients prescribed via MOE"/>
            </f:facet>
			<e:cell value="#{fmRptStat.patCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of MOE prescriptions"/>
            </f:facet>
			<e:cell value="#{fmRptStat.orderCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of items prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.orderItemCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of General Drug prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.generalDrugCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of General Drug prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfGeneralDrug}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of Special Drug prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.sDrugCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of Special Drug prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfSDrug}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of Special Drug prescribed via MOE with &#34;Existing Patient&#34; indication"/>
            </f:facet>
				<e:cell value="#{fmRptStat.sDrugExistPatCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of Special Drug prescribed via MOE with &#34;Existing Patient&#34; indication"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfSDrugExistPat}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of Special Drug prescribed via MOE with &#34;Other&#34; indication"/>
            </f:facet>
				<e:cell value="#{fmRptStat.sDrugOtherCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of Special Drug prescribed via MOE with &#34;Other&#34; indication"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfSDrugOther}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of Special Drug prescribed via MOE with &#34;Indicated&#34; indication (exclude Non-Formulary)"/>
            </f:facet>
				<e:cell value="#{fmRptStat.sDrugIndicatedCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of Special Drug prescribed via MOE with &#34;Indicated&#34; indication (exclude Non-Formulary)"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfSDrugIndicated}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of Special Drug prescribed via MOE with &#34;Non-Formulary&#34; indication"/>
            </f:facet>
				<e:cell value="#{fmRptStat.sDrugNonFormularyCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of Special Drug prescribed via MOE with &#34;Non-Formulary&#34; indication"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfSDrugNonFormulary}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of patient prescribed via MOE with SFI"/>
            </f:facet>
				<e:cell value="#{fmRptStat.patSfiCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of patient prescribed via MOE with SFI"/>
            </f:facet>
            	<e:cell value="#{fmRptStat.percentageOfPatSfi}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of MOE prescriptions with SFI"/>
            </f:facet>
            	<e:cell value="#{fmRptStat.orderSfiCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of MOE prescriptions with SFI"/>
            </f:facet>
            	<e:cell value="#{fmRptStat.percentageOfOrderSfi}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of SFI prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.sfiCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of SFI prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfSfi}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of Unregistered Drug prescribed via MOE for named patient"/>
            </f:facet>
				<e:cell value="#{fmRptStat.unregisteredDrugCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of Unregistered Drug prescribed via MOE for named patient"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfUnregisteredDrug}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="No. of SFI with Safety Net prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.sfiSafetyNetCount}"/>
		</e:column>
		<e:column>
			<f:facet name="header">
            	<e:cell value="% of SFI with Safety Net prescribed via MOE"/>
            </f:facet>
				<e:cell value="#{fmRptStat.percentageOfSfiSafetyNet}"/>
		</e:column>
	</e:worksheet>
</e:workbook>