<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition 
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib">

<script language="javascript">
	//<![CDATA[ 
    //]]> 
</script>

<html>
    <head>
        <title>Resend Dispensing Order</title>
    </head>
	<body>
		<table width="100%" height="100%">
			<tr>
				<td valign="top" align="left">
			        <h:form id="senderform">
						<h:panelGrid columns="1">
							<h:panelGroup>
								<h:outputText value="User: " style="font-weight:bold" />
								<h:outputText value="#{resendDispOrder.userName}" />
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText value="&#160;"/>
							</h:panelGroup>
			        	</h:panelGrid>

						<h:panelGrid columns="1">
							<h:panelGroup>
								<h:outputText value="Resend dispensing order:" style="font-weight:bold" />
								
								<h:panelGrid columns="2">
									<h:panelGroup>
										<h:outputText value="Dispensing Order No."/>
									</h:panelGroup>
									<h:panelGroup>
										<h:inputText id="dispOrderNum" value="#{resendDispOrder.dispOrderNum}" maxlength="9" />
									</h:panelGroup>
					
									<h:panelGroup>
										<h:outputText value="Dispensing Message Type"/>
									</h:panelGroup>
									<h:panelGroup>
										<h:selectOneMenu id="dispTrxType" value="#{resendDispOrder.dispTrxType}"  
														 converter="#{dispTrxType.converter}">
											<f:selectItems value="#{dispTrxType.selectItems}"/>
										</h:selectOneMenu>
									</h:panelGroup>
									
					        	</h:panelGrid>

								<h:panelGrid columns="1">
									<h:panelGroup>
										<h:commandButton value="Send" action="#{resendDispOrder.resendDispOrderMessage}"/>
										<h:commandButton value="Clear" action="#{resendDispOrder.clearScreen}"/>
									</h:panelGroup>
									<h:panelGroup>
										<h:outputText value="&#160;"/>
									</h:panelGroup>
					        	</h:panelGrid>
					        	
								<h:panelGrid columns="1" rendered="#{resendDispOrder.isSuccess}">
									<h:panelGroup>
										<b>Information: </b><br/>
										<pre>#{resendDispOrder.successMessage}</pre>
									</h:panelGroup>
					        	</h:panelGrid>
					
					        	<h:panelGrid columns="1">
									<h:panelGroup rendered="#{resendDispOrder.hasError}">
										<b>Warning: </b><br/>
										<pre>#{resendDispOrder.errorMessage}</pre>
									</h:panelGroup>
								</h:panelGrid>					        	
							</h:panelGroup>
			        	</h:panelGrid>
			        </h:form>
				</td>
			</tr>
		</table>
    </body>
</html>

</ui:composition>