<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib">

	<script language="javascript">
	//<![CDATA[ 
    //]]> 
</script>

	<html>
	<head>
	<title>Check Medication Profile Message Count</title>
	</head>
	<body>
	<table width="100%" height="100%">
		<tr>
			<td valign="top" align="left"><h:form id="sendCheckMsgCountForm">
				<h:panelGrid columns="1">
					<h:panelGroup>
						<h:outputText value="Send check medication profile message count:"
							style="font-weight:bold" />

						<h:panelGrid columns="2">
							<h:panelGroup>
								<h:outputText value="Check date time:" />
							</h:panelGroup>
							<h:panelGroup>
								<h:inputText id="checkDateTime"
									value="#{triggerMpMsgCount.checkDateTime}" maxlength="16" />
							</h:panelGroup>
						</h:panelGrid>

						<h:panelGrid columns="1">
							<h:panelGroup>
								<h:commandButton value="Send"
									action="#{triggerMpMsgCount.triggerMsgCountService}" />
								<h:commandButton value="Clear"
									action="#{triggerMpMsgCount.clearScreen}" />
							</h:panelGroup>
							<h:panelGroup>
								<h:outputText value="&#160;" />
							</h:panelGroup>
						</h:panelGrid>

						<h:panelGrid columns="1"
							rendered="#{triggerMpMsgCount.isSuccess}">
							<h:panelGroup>
								<b>Information: </b>
								<br />
								<pre>#{triggerMpMsgCount.successMessage}</pre>
							</h:panelGroup>
						</h:panelGrid>

						<h:panelGrid columns="1">
							<h:panelGroup rendered="#{triggerMpMsgCount.hasError}">
								<b>Warning: </b>
								<br />
								<pre>#{triggerMpMsgCount.errorMessage}</pre>
							</h:panelGroup>
						</h:panelGrid>
					</h:panelGroup>

				</h:panelGrid>
			</h:form></td>
		</tr>
	</table>
	</body>
	</html>

</ui:composition>